<!DOCTYPE html>
<html>
    <head>
        <title>My page</title>
        <meta charset="UTF-8"> 
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
            
        <h1>My website</h1>

        <form action="/openLogIn" method="get">
            <input type="submit" value="Log in" style="width: 100px; height: 50px;">
        </form>
        <input id="openRegister" type="button" value="register" style="width: 100px; height: 50px;">
        
        
        <!-- <a href="/newPage">PRESS XD</a>

        <form action="/newPage" method="GET">
            <input type="submit">
        </form> -->


        <script type="text/javascript" src="script.js"></script>
    </body>
</html>