<!DOCTYPE html>
<html>
    <head>
        <title>My page</title>
        <meta charset="UTF-8"> 
        <link rel="stylesheet" type="text/css" href="css/style1.css">
    </head>
    <body>
        <h1>Log in</h1>
        
        <form action="/profile", method="POST">
            <input type="text" name="userName"><br>
            <input type="password" name="password"><br>
            <input type="submit" value="Log in">
        </form>

    </body>
</html> 